<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout Semântico</title>
</head>
<body>
  <div class="container">
    
    <main class="main-content">
      <header class="header">
        <h1>Bem-vindo ao Sistema de Gestões!</h1>
        <p>Sistema de Gestão Paulo's Breads. </p>
      </header>
      <section class="dashboard" aria-label="Resumo de dados">
        <article class="card">
          <h2>Produtos</h2>
          <p>Dados importantes aqui</p>
        </article>
        <article class="card">
          <h2>Clientes</h2>
          <p>Outras informações.</p>
        </article>
        <article class="card">
          <h2>Fornecedores</h2>
          <p>Mais detalhes.</p>
        </article>
        <article class="card">
            <h2>Contatos</h2>
            <p>Mais detalhes.</p>
        </article>
        <article class="card">
            <h2>Pagamentos</h2>
            <p>Mais detalhes.</p>
        </article>
      </section>
    </main>
  </div>
</body>
</html>